body {
    margin: 0;
}

#game-section {
    position: relative;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

canvas#gameCanvas {
    display: block;
    margin: 0 auto;
    background: transparent;
    width: 100%;
    height: 100%;
}
